@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

  
@font-face {
    font-family: Mark;
    src: url('../public/font/MarkPro.otf') format('opentype');
  }
@font-face {
    font-family: Mark;
    src: url('/font/MarkPro-Bold.otf') format('opentype');
    font-weight: 900;
  }
@font-face {
    font-family: Mark;
    src: url('/font/MarkPro-Thin.otf') format('opentype');
    font-weight: 300;
  }
@font-face {
    font-family: Mark;
    src: url('/font/MarkPro-Medium.otf') format('opentype');
    font-weight: 500;
  }
  
  
@font-face {
    font-family: ZT Bros;
    src: url('/font/ZTBrosOskon90s-Regular.otf') format('opentype');
    font-weight: 500;
  }
  
  

  

.slide-in{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  transform-origin: left;
  z-index: 3000;

}
.slide-out{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  transform-origin: left;
  z-index: 3000;

}

[data-animation='text-reveal'] {
  div {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }

  div div {
    transform: translateY(100%);
    will-change: transform;
  }
}
[ data-animation="text-reveals"] {
  div {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }

  div div {
    transform: translateY(100%);
    will-change: transform;
  }
}


[data-animation='text-revealX'] {
  div {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }

  div div {
    transform: translateY(100%);
    will-change: transform;
  }
}